{% extends 'base.html.twig' %}
{% block body %}
<div class="container" style="padding: 25px 0; margin-top: 150px;">
    <div class="d-flex justify-content-center">
        <div class="w-75" style="height: 600px;">
            {{form(form)}}
        </div>
    </div>
</div>
<script>
    $(".nav-link").animate({
        color: "#343a40"
    });
    $("#logo")[0].src = "/logo.png";
</script>
{% endblock %}