{% extends 'base.html.twig' %}


{% block body %}
    <div class="container" id="headbg" style="margin-top: 100px;">
        <h2>Etes vous sure de vouloir postuler pour cette mission ?</h2>
        <h3>({{title}})</h3>
        {{form(postuleForm)}}
    </div>
    <script>
    $("#nav").animate({
        backgroundColor: "rgba(255,255,255,0.7)"
    });
    $(".nav-link").animate({
        color: "black"
    });
    $("#logo")[0].src = "/logo.png";
    $("#headbg").css("height", window.innerHeight - 250);
</script>
{% endblock %}